# apt install build-essential libcap-dev libcurl4-nss-dev libpq-dev libfreetype6-dev libpng-dev liblapack-dev libblas-dev python3.7 python3.7-venv python3.7-dev
# pip install -U -r ./requirements3.txt

-r ./requirements.txt

# Might not work on py2 anymore
aquests

# http/2 framework
Quart
