# apt install build-essential libcap-dev libcurl4-nss-dev libpq-dev libfreetype6-dev libpng-dev liblapack-dev libblas-dev python3.7 python3.7-venv python3.7-dev
# pip install -U -r ./requirements2.txt

-r ./requirements.txt

# Technically, it works on py3; no nearby use-cases though.
gevent
greenlet

# backports and stuff
future
futures
functools32
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.ssl-match-hostname
