# apt install build-essential libcap-dev libcurl4-nss-dev libpq-dev libfreetype6-dev libpng-dev liblapack-dev libblas-dev python3.7 python3.7-venv python3.7-dev
# pip install -U -r requirements.txt

# selfupdate
wheel
pip
setuptools
virtualenv


# highly used libraries
six
atomicfile
PyYAML
msgpack-python
simplejson
ujson
sh
pytz
python-dateutil


# occasionally used libraries
redis
Cython
click
click-plugins
click-repl
python-prctl
Jinja2
smhasher
psycopg2-binary

# possibly useful libraries

# !!
wrapt
decorator

html5lib
MarkupSafe
cached-property

ruamel.yaml

shortuuid

aquests

# Util-collections similar to pyaux
toolz
easydev


# devworks
pylint
pycodestyle
yapf
astroid
pytest
tox
mccabe

# devworks, advanced
Fabric
cookiecutter
docker-compose


# greatest convenience
ipython[all]
ipdb
prompt-toolkit
Pygments
-e git+https://github.com/HoverHell/parallel-ssh#egg=pssh
-e git+https://github.com/HoverHell/pyaux.git#egg=pyaux
git+https://github.com/apenwarr/sshuttle#egg=sshuttle


# requests
requests
ndg-httpsclient
pyasn1
pyOpenSSL

# Other way
pycurl


# dataworks
jupyter[all]
jupyterlab[all]
# jupyter-themes
jupyterthemes
# git+https://github.com/dunovank/jupyter-themes.git@2d16b22933b327c3a1c9a8b3e79c1227d76377ab#egg=jupyter-themes

# run: jupyter nbextension enable --py --sys-prefix widgetsnbextension
# run: jt -t chesterish -f roboto -fs 12 -cellw '100%'

numpy
pandas
matplotlib
scipy
scikit-learn
plydata
# statsmodels
# plotnine
altair
# vega_datasets
notebook
vega


# eventloopsuff

# gevent
# greenlet

tornado
tornalet
trequests

Twisted
Django
djangorestframework

# # v8
# py-mini-racer

# http/2 framework
Quart
