# apt install build-essential libcap-dev libcurl4-nss-dev libpq-dev libfreetype6-dev libpng-dev liblapack-dev libblas-dev libssl-dev python3.10 python3.10-venv python3.10-dev
# pip install -U -r ./requirements.txt

# selfupdate
pip
setuptools
virtualenv
wheel

# highly used libraries
atomicfile
sh
coloredlogs

pytz
python-dateutil
iso8601
ciso8601

# occasionally used libraries
Cython
python-prctl
Jinja2
smhasher
pyotp
pyperclip

# possibly useful libraries

# !!
wrapt
decorator

markdown
html5lib
MarkupSafe

shortuuid

# serialization
cbor
msgpack-python
orjson
PyYAML
ruamel.yaml

# CLI
click
click-plugins
click-repl
typer
typer-cli

# DB
asyncpg
psycopg2-binary
redis

# TiMemory  # something something broken skbuild something

# Util-collections similar to pyaux
toolz
easydev

# devworks
pylint
astroid

black
isort
flake8
mypy
pytest
pytest-asyncio
pytest-cov
tox

cookiecutter

# greatest convenience
ipython[all]
ipdb
# prompt-toolkit
Pygments

-e git+https://gitlab.com/hoverhell/parallel-ssh#egg=pssh
# -e git+ssh://git@gitlab.com/hoverhell/pyaux.git#egg=pyaux
-e git+https://gitlab.com/hoverhell/pyaux.git#egg=pyaux
-e git+https://gitlab.com/hoverhell/pyauxm.git#egg=pyauxm

git+https://github.com/apenwarr/sshuttle#egg=sshuttle

# dataworks
jupyter
jupyterlab
jupyter-console
notebook
# jupyter-themes
jupyterthemes
# git+https://github.com/dunovank/jupyter-themes.git@2d16b22933b327c3a1c9a8b3e79c1227d76377ab#egg=jupyter-themes

# run: jupyter nbextension enable --py --sys-prefix widgetsnbextension
# run: jt -t chesterish -f roboto -fs 12 -cellw '100%'

tqdm
numpy
pandas
xlrd
matplotlib
scipy
scikit-learn
plydata
statsmodels
plotnine
altair
# vega_datasets
vega

# HTTP stuff
requests
pycurl
aiohttp
fastapi
uvicorn

# # v8
# py-mini-racer
